@import "tailwindcss";

@theme {
  --font-sans: var(--font-tajawal), ui-sans-serif, system-ui, sans-serif;
  --font-tajawal: var(--font-tajawal), ui-sans-serif, system-ui, sans-serif;
}

body {
  background-color: #E5E7EB; /* Light gray background like Figma frame */
  color: #171717;
  font-family: var(--font-sans);
}

/* Custom Animation for Drawing Lines in RTL */
.draw-line-rtl {
  width: 0 !important;
  transition: width 1.5s ease-in-out 0.5s;
}
[data-aos].aos-animate .draw-line-rtl {
  width: 96% !important;
}
